.browser-search-section {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    background-color: #35363b;
    align-items: center;
    padding-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.search-bar {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background-color: #202124;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding-left: 10px;
}

.icon {
    color: #f1f3f4;
    width: 20px;
    height: 20px;
    &:hover {
        cursor: pointer;
    }
}

.lock-icon {
    color: #9BA0A5;
    width: 16px;
    height: 16px;
    &:hover {
        cursor: pointer;
    }
}

.refresh-icon {
    color: #f1f3f4;
    width: 20px;
    height: 20px;
    &:hover {
        cursor: pointer;
    }
    transform: translate();
}

.input-field {
    background: transparent;
    border: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
}


.hamburg-icon {
    color: #f1f3f4;
    width: 20px;
    height: 20px;
    &:hover {
        cursor: pointer;
    }
}
